.footer-container{
    background: #222121;
    padding: 20px;
    color: #208dbe;
    justify-content:left;
    max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer-title{
   text-align: center; 
   color: #208dbe;
}
.image-combo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.image-combo img{
    width: auto;
    height: 3em;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(32, 141, 190, 0.5);
    transition: transform 0.3s ease;
}
.footer-bg{
    background: #222121;
    padding: 20px;
}
.footer-content{
    
 
  
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: 400px;
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.footer-bottom{
    text-align: center;
}